.cerere-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.card-cerere{
    min-width: 40%;
    width: auto;
    background-color: white;
    border-radius: 10px;
    text-align: start;
    padding: 20px;
   
}
.divider{
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;

}
.mesaj-cerere{
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 0 0    ;
}
.mesaj-data{
    align-self: flex-start;
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 5px;
    font-size: .8em;
    border:1px solid rgb(194, 194, 194);
    border-radius: 10px 10px 0 0;
    text-align: start;
    color: rgb(91, 91, 91);
    font-weight: bold;
}
.mesaj-field{
    border:1px solid rgb(194, 194, 194);
    min-height: 80px;
   
}
.divider-blue{
    background-color: rgb(86, 86, 255);
    margin-left:10px;
    width: 4px;
}
.quill{
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.ql-editor{
    min-height: 100px;

}
.goback{
    color:grey;
    transition: .3s;
    font-size: 2em;
}
.goback:hover{
    color:black;
    cursor: pointer;
    transform: scale(1.2)
}
.input-status{
    transition: .3s;
}
.input-status:hover{
    transform: scale(1.3) translateY(-2px);

}